<div class="todo-item">
  <div class="todo-title">
    <li (click)="goToTodo(todo.id)"
        [class.selected]="selectedItem===todo.id"
        [class.todo-finish]="todo.status === 'Completed'">
      {{ todo.id }}. {{ todo.title }}
    </li>
  </div>
  <div class="todo-status-checkbox">
    <input (change)="finishItem(todo.id)" [checked]="todo.status === 'Completed'" type="checkbox"/>
    <label>
      {{ todo.status === 'Completed' ? ('Status.COMPLETE' | translate) : ('Status.IN_PROGRESS' | translate) }}
    </label>
  </div>
  <div class="todo-delete-button">
    <app-button (myCustomClick)="deleteItem(todo.id)" [button]="deleteButton"></app-button>
  </div>
</div>
