.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-top: 20px;

  a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
}

.lang {
  margin-top: auto;
}
