<div class="todo-item">
  <div class="todo-title">
    @if (isEdit) {
      <input [(ngModel)]="todo.title" class="input"/>
      <app-button (click)="updateTitle()" [button]="saveButton"></app-button>
    } @else {
      <li (click)="showDescription(todo.id)"
          (dblclick)="editTask(todo.id)"
          [class.selected]="selectedItem===todo.id"
          [class.todo-finish]="todo.finish"
      >{{ todo.id }}. {{ todo.title }}
      </li>
    }
  </div>
  <div class="todo-delete-button">
    <app-button (myCustomClick)="deleteItem(todo.id)" [button]="deleteButton"></app-button>
  </div>
  <div class="todo-delete-button">
    <app-button (myCustomClick)="finishItem(todo.id)" [button]="finishButton"></app-button>
  </div>
</div>
