.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: blue;
}

.todo-description{
  flex-grow: 1;
  text-align: left;
}

.todo-delete-button {
  text-align: right;
}

li {
  margin-right: 10px;
}

.todo-finish{
  color: black;
  text-decoration: line-through;
}

.button-delete{
  cursor: pointer;
  border: none;
  background-color: #c30000;
  color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
