<div class="todo-lists">
  <h1>{{ componentTitle }}</h1>
  <ul>
    <app-to-do-list-item *ngFor="let item of todoItems" [todo]="item" (deleteToDoItem)="deleteTask(item.id)" (finishToDoItem)="toggleFinish(item.id)" />
  </ul>
  <mat-form-field appearance="fill">
    <input matInput type="text"
           #newItem
           [(ngModel)]="newItemValue"
           placeholder="добавить задание"
           (keyup.enter)="addTask(); newItem.value = ''"
           class="todo-text-input"
           id="addItemInput" />
  </mat-form-field>
  <button class="button button-add" (click)="addTask()" [disabled]="!newItemValue.trim()">Add</button>
</div>
